@CHARSET "UTF-8";

#index-header {
	color: #FFFFFF;
	font-size: 22px;
	font-weight: 200;
	padding: 8px 15px;
}

.icon-activity{  
  background-image: url(extjs/application/shared/icons/book.png)!important;  
}  
