<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
       ">


	<!-- 启用spring mvc 注解 -->
	<context:annotation-config />
	
	<!-- 设置使用注解的类所在的jar包 -->
	<context:component-scan base-package="mybatistest"></context:component-scan>
	<!-- 作用：是对包进行扫描，实现注释驱动Bean定义，同时将bean自动注入容器中使用。 解决了bean的注入和使用 -->
	
	<mvc:annotation-driven />
	<!-- 作用：会自动注册DefaultAnnotationHandlerMapping与AnnotationMethodHandlerAdapter 
	    说明：新版本（3.1）应该是另外两个RequestMappingHandlerMapping和RequestMappingHandlerAdapter
		两个bean,是spring MVC为@Controllers分发请求所必须的。 并提供了：数据绑定支持，@NumberFormatannotation支持，@DateTimeFormat支持，@Valid支持， 
		读写XML的支持（JAXB），读写JSON的支持（Jackson）。 -->

	<!-- JSON -->
	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<!-- 设置为true以忽略对Accept Header的支持 -->
		<property name="ignoreAcceptHeader" value="true" />
		<!-- true，开启扩展名支持，false关闭支持 ?-->
        <property name="favorPathExtension" value="true" />
        <!-- 用于开启 /userinfo/123?format=json的支持 ?-->
        <property name="favorParameter" value="true" />
        
		
		<!-- 在没有扩展名时即: "/user/1" 时的默认展现形式 -->
		<property name="defaultContentType" value="text/html" />
		<property name="mediaTypes">
			<map>
				<!-- 扩展名至mimeType的映射,即 /user.json => application/json -->
				<!-- 告诉视图解析器，返回的类型为json格式 application/json -->
				<entry key="json" value="application/json" />
				<entry key="xml" value="application/xml" />
			</map>
		</property>
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.BeanNameViewResolver" />
				<bean
					class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="viewClass"
						value="org.springframework.web.servlet.view.JstlView"></property>
					<property name="prefix" value="/" />
					<property name="suffix" value=".jsp" />
				</bean>
			</list>
		</property>

		<property name="defaultViews">
			<list>
				<!-- ModelAndView里的数据变成JSON -->
				<bean
					class="org.springframework.web.servlet.view.json.MappingJacksonJsonView" />
				<!-- XML -->
				<bean class="org.springframework.web.servlet.view.xml.MarshallingView">
					<property name="marshaller">
						<bean class="org.springframework.oxm.xstream.XStreamMarshaller" />
					</property>
				</bean>
			</list>
		</property>
	</bean>



	<!-- 拦截器 -->

	<mvc:interceptors>
		<!-- 多个拦截器,顺序执行 -->
		<mvc:interceptor>
			<mvc:mapping path="/**" /><!-- 如果不配置或/**,将拦截所有的Controller -->
			<bean class="mybatistest.controller.CommonInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 总错误处理 -->
	<bean id="exceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		
		<property name="exceptionMappings">   
            <props>   
                <prop key="java.lang.Exception">errors/error</prop>   
                <prop key="java.lang.Throwable">errors/err</prop>   
            </props> 
        </property>  

		        <!-- 设置日志输出级别，不定义则默认不输出警告等错误日志信息 -->   
        <property name="warnLogCategory" value="WARN"></property>  
		
		<property name="defaultErrorView">
			<value>/error/error</value>
		</property>
		<property name="defaultStatusCode">
			<value>500</value>
		</property>
	</bean>
	

		
	
</beans>